@model FitnessCenter.Web.Models.Account.LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Account/Login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">
                <img id="loginLogo"  src="~/Images/login-logo.png" alt="Foto de inicio de sesión" />
            </div>
            <form id="loginForm" asp-action="Login" method="post">
                <div class="titulo">
                    <h1>Technoware</h1>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input id ="email" asp-for="Email" class="form-control"  placeholder="Correo Electrónico" autocomplete="off"/>
                    <span asp-validation-for="Email" class="text-danger" ></span>
                    <span id="usuarioHelper" class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input id="password" asp-for="Password" class="form-control"  placeholder="Contraseña" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a href="@Url.Action("Register", "Account")" class="url">Crear cuenta</a>
                    <br />
                    <a href="@Url.Action("ForgotPassword", "Account")" class="url">Olvidé mi contraseña</a>
                </div>
            </form>
        </div>
        <div class="login-photo">
            <img id ="loginPhoto" src="~/images/Login_Image.jpg" alt="Foto de inicio de sesión" />
        </div>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/Account/login.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    document.getElementById("loginLogo").addEventListener("click", function () {
        window.location.href = "@Url.Action("LandingPage", "LandingPage")";
    });

    document.getElementById("loginPhoto").addEventListener("click", function () {
        window.location.href = "@Url.Action("LandingPage", "LandingPage")";
    });

    var redirectToHome = '@Url.Action("Home", "Customers")';

</script>

</body>

</html>